*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background:#30336b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

/* Button*/

button{
    display: inline-block;
    background: #f8b627;
    color: #f4f4f4;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 10px;
    z-index: 1;
}

img{
    height: 150px;
}